*.DS_Store
bin
target
.classpath
classes
build
.project
.settings
core/src/main/webapp/META-INF
.idea
*.iml
*.ipr
*.iws
.gradle
styles.scss.cache
prosemirror/dist
prosemirror/node_modules
npm-debug.log